* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: rgb(21,21,21);
    border-radius: 10px;
    padding: 0 40px 10px 40px;
    margin: 8px 16px;
    color: rgb(230,230,230);
}

.question-box h3 {
    text-align: left;
    color: rgb(177,136,211);
}

.question-box p{
    margin: 12px;
}

.question-buttons {
    display: flex;
    flex-direction: row;
}

.question-button {
    margin: 4px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background-color: rgb(75,134,111);
    color: rgb(255,255,255);
    cursor: pointer;
}

.question-button:disabled {
    background-color: rgb(121,121,121);
    color: rgb(136,134,134);
}

.answer-display {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-display.correct {
    color: rgb(211,211,117);
}

.answer-display.wrong {
    color: rgb(211,134,117);
}